<footer class="section">
    <div class="footer__content secondary-500">
    <p>© 2021 - Codeable Tweetable</p>
      <p>Build with ♥ by</p>
      <div class="inline-footer">
        <%= link_to "https://www.linkedin.com/in/ximecalderon/", class: "link-filter" do %>
            <div class="team">
                <%= image_tag("socials/linkedin.svg") %>
                <span>Ximena Calderón</span>
            </div>
        <% end %>
        <%= link_to "https://www.linkedin.com/in/luis-chota-castillo-5b7045146/", class: "link-filter" do %>
            <div class="team">
                <%= image_tag("socials/linkedin.svg") %>
                <span>Luis Chota</span>
            </div>
        <% end %>  
    </div>
</footer>